*{
    margin: 0;
    padding: 0;
}
body{
    background: #202020;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: rgb(165, 164, 164);

}
i{
    cursor: pointer;
}
.container{
    width: 350px;
    height: 80vh;
    background-color: #202020;
    box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.25),
                -2px -2px 5px rgba(255, 255, 255, 0.05);
    margin-top: 40px;
    border-radius: 10px;
    position: relative;
    
    
}
.header{
    height: 35%;
    background: url(morning.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    

}
.dated{
    position: absolute;
    bottom: 5px;
    left: 15px;
    font-size: 25px;
    z-index: 10;
    
}
.clear i{
    margin-left: 320px;
    margin-top: 5px;
    font-size: 20px;

}
.content{
    width: 350px;
    height: 300px;
    position: relative;
    overflow-y: auto;

}
.content ul li{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    padding: 5px;
    font-size: 20px;
    align-items: center;
    height: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    list-style: none;

    
}

.addItem{
    position: absolute;
    bottom: 3px;
    left: 15px;

}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.addItem input[type = "text"]{
    border: none;
    background: none;
    margin-left: 10px;
    font-size: 20px;
    border-top: 1px solid  rgb(65, 63, 63);
    border-bottom: 1px solid  rgb(65, 63, 63);
    padding: 5px;
    color: rgb(202, 199, 199);
}
.addItem i{
    font-size: 18px;
    border: 1px solid rgb(65, 63, 63);
    border-radius: 50%;
    padding: 10px;
}